body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: #eee;
    color:#666;
}
.login-container{
    height: 100vh;
    width: 100%;
}
.login-form{
    margin: auto;
    width: 370px;
    padding: 15px;
    max-width: 100%;
}

.form-control{
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}
.form-control:focus{
    border-color: cadetblue;
    box-shadow: 0 0 0 0.2rem rgb(1, 61, 110, .25);
}
.forgot-link label{
    margin-bottom: 0;
}
.forgot-link {
    font-size: 13px;
}
.login-form a{
    text-decoration: none;
    color: #666666;
}
.login-form a:hover {
color: cadetblue;
}
.btn-custom{
    color: #eeeeee;
    font-size: 15px;
    font-weight: 600;
    min-height: 48px;
}
.form-check-input{
    margin-top: .2rem;;
}



